.navbar{
    display:flex;
    background-color:green;
    list-style: none;
}

.site-name{
    padding: 0px 30px;
    color: beige;
}
.site-menu{
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
a{
    text-decoration: none;
    color: beige;
    padding: 0px 30px;
}
@media screen and (max-width: 600px)
{
    .site-menu{
        display: none;
    }
}