<div class="search-div" style="background-color: aquamarine; padding: 10px;" >
    <span><b class="searchval">Search: </b></span>
    <!-- <input type="text" (input)="changevalue($event)"> -->
    <!-- <input type="text" [(ngModel)]="searchvalue"> -->
    <input type="text" #myvariable (keyup)=0>
    <button class="sb" (click)="sayHello(myvariable)">search</button>
    <br>
    <!-- <span *ngIf="myvariable.value!=''">You searched for: {{myvariable.value}}</span>myvariable.value change to searchvalue -->
    <!-- <span >You searched for: {{myvariable.value}}</span> -->
</div>